{% extends 'layout.html' %}

{% block title%} 
    Image Vision
{% endblock %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Image Vision</h1>
        </div>
      </div>
      
      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-image-line"></i></div>
            <h4 class="title"><a href="steganographer">Steganographer</a></h4>
            <p class="description">Hide those confidential messages!</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-article-line"></i></div>
            <h4 class="title"><a href="text-extractor">Text Extractor</a></h4>
            <p class="description">Fetch text embedded inside any image.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-aliens-line"></i></div>
            <h4 class="title"><a href="filters">Filters</a></h4>
            <p class="description">Meet the exciting you in Real-Time.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-cpu-line"></i></div>
            <h4 class="title"><a href="resolution">Resolution Enhancer</a></h4>
            <p class="description">Let machine learning enhance your shots.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch my-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-swap-line"></i></div>
            <h4 class="title"><a href="face-swapper">Face Swapper</a></h4>
            <p class="description">Swap faces in Real-Time. It's not magic, it's image processing.</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

{% endblock %}
